.main-section{
	
	width: 90%;
	height: 90%;
	padding-right: 2%;
	padding-left: 1%;
	margin-left: 16%;
	
}

#slider{
	align-content: center;
	width:800px;
	height: 200px;
	border: solid 1px red;
	margin-top: 0%;
	margin-left: 20%;
	background: url(1.jpg) no-repeat;
	animation: slide 10s infinite;
}

@keyframes slide{
	0%{ 
		background: url(produits/3.jpg) no-repeat;
		}
	25%{
		background: url(produits/4.jpg) no-repeat;
		}
	50%{
		background: url(produits/2.jpg) no-repeat;
		}
	100%{
		background: url(produits/s1.jpg) no-repeat;
		}
}

.sectref2{
	border-radius: 20%;
	width: 15%;
	height: 10%;
	display: flex;
	margin-left: 35%;
	margin-top: 2%;
	background-color: lightblue;
	text-align: center;
}
.sectref2 p{
	display: block;
	flex: 1;

	}

.sectref2:hover{
	background-color: lightgreen;
	color: #000000;
	font-weight: bold;

}
.sectref2 input:hover{
		color: blue;
		font-weight: bold;
		text-transform: uppercase;
	}

.sectref3{
	align-content: center;
	width:40%;
	height: 59%;
	border-radius: 5%;
	background-color: lightblue;
	margin-top: 1%;
	margin-left: 23%;
	display: block;
}
.sectref3 h1{
	color: blue;
	text-align: center;
	padding: 10%;
	}

.sectref3 span{
	font-size: 1.6rem;
	color: #ffffff;
	font-style: normal;
	background-color: #000000;
	font-weight: bold;
}

.sectref3 #span2{
	font-size: 1.4rem;
	font-style: italic;
	text-transform: lowercase;
}
#jopson,#joseph,#gilberto
{
	display: none;
}
		